.post {
    &-container {
        padding: 1rem;
        min-width: 50vw;
        max-width: 80vw;
        overflow-x: hidden;
        

        h2 {
            margin-bottom: 0.4rem;
        }
    }

    &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: $color-white;
        padding: 1rem;

        h1 {
            font-size: clamp(1rem, 1.8rem, 2rem);
            font-weight: 800;
            font-stretch: 110%;
        }

        &-close {
            padding: 0.3rem 0.4rem;
            font-size: 1.2rem;
            border: none;
            outline: none;
            background-color: transparent;
            border-radius: 0.4rem;
            transition: all 0.2s;

            @include hover-button-effect;
        }

        &-icon {
            margin: 0 0 -0.2rem 0;
        }
    }

    &-body {
        display: flex;
        justify-content: space-between;

        .part-left,
        .part-right {
            flex: 1;
            padding: 1rem 1rem 0 1rem;
            display: flex;
            justify-content: center;
        }

        .part-left {
            display: flex;
            flex-direction: column;

            .left-body {
                flex: 1;
                display: flex;
                justify-content: center;

                .preview-image {
                    max-width: 20rem;
                }
            }

            .select-button {
                width: 100%;
                padding: 1rem;
                font-size: 1rem;
                border: none;
                outline: none;
                border-radius: 1rem;
                color: $color-theme-dark;
                background-color: $color-theme-back-light;
                margin-bottom: 1rem;
                transition: all 0.2s;
                cursor: pointer;

                &:hover {
                    background-color: $color-theme-light;
                }
            }

            .post-file-preview {
                max-width: 21rem;
                height: 200px; // Set a fixed height, adjust as needed
                padding: 1rem;
                background-color: $color-theme-back-light;
                border: 2px dashed $color-theme-dark;
                border-radius: 1rem;
                margin-bottom: 1rem;
                overflow: hidden; // Hide overflow
                overflow-x: auto;

                .sliding-preview {
                    display: flex;
                    flex-wrap: nowrap;
                    overflow-x: auto;
                    overflow-y: hidden;
                    height: 100%; // Take full height of parent
                    align-items: center;
                    justify-content: space-evenly;
                    text-align: center;
                    scroll-snap-type: x mandatory;

                    @include horizontal-scrollbar;

                    .preview-wrapper {
                        position: relative;
                        height: 100%; // Take full height
                        flex: 0 0 auto;
                        margin-right: 10px; // Space between items
                        width: 100%; // Set a fixed width, adjust as needed
                        display: flex;
                        justify-content: center;
                        scroll-snap-align: start;

                        &:last-child {
                            margin-right: 0;
                        }

                        img,
                        video,
                        embed {
                            max-width: 100%; // Allow width to adjust
                            width: auto; // Allow width to adjust
                            max-height: 100%; // Take full height
                            object-fit: contain; // Maintain aspect ratio
                            background-color: transparent;
                        }
            
                        .remove-file {
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            background: rgb(255, 255, 255);
                            border: none;
                            border-radius: 50%;
                            cursor: pointer;
                            padding: 0.2rem;
                            z-index: 100;
            
                            svg {
                                font-size: 1.2rem;
                                color: $color-theme-dark;
                            }
            
                            &:hover {
                                background: $color-theme-back-light;
                            }
                        }
                    }
                }
            
                .no-files-message {
                    text-align: center;
                    color: $color-theme-dark;
                    font-weight: 500;
                }
            }            
        }

        .part-right {
            position: relative;
            display: flex;
            flex-direction: column;
            color: $color-font-dark;

            .right-body {
                flex: 1;
            }

            .description-box {
                flex: 1;
            }

            .submit-button {
                width: 100%;
                padding: 1rem;
                margin-bottom: 1rem;
                font-size: 1rem;
                border: none;
                outline: none;
                border-radius: 1rem;
                color: $color-font-light;
                background-color: $color-theme-dark;
                margin-top: 1rem;
                transition: all 0.3s ease-out;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    box-shadow: 0 0 2rem rgba($color-theme-dark, 0.5);
                }

                @media (max-width: 768px) {
                    position: static;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 1080px) {
    .post-container {
        min-width: 100%;
        max-width: none;
        padding: 0;
    }

    .post-head {
        h1 {
            font-size: 1.2rem;
        }
    }

    .post-body {
        display: flex;
        justify-content: baseline;
        flex-direction: column;
        font-size: 0.5rem;

        h2 {
            display: none;
        }

        .part-left,
        .part-right {
            flex: none;
        }

        .part-left {
            .select-button {
                margin-bottom: 0;
                font-size: 0.8rem;
            }

            .image-container{
                padding: 2% 20%;
            }
        }
    }

    .post-file-preview {
        max-width: 20rem;
        display: block;
        margin: 0 auto;
        aspect-ratio: 4/3;
        max-height: 30vh;
    }

    .sliding-preview {
        min-height: 5rem;
        height: auto;
    }

    .description-box {
        textarea {
            height: 8vh;
            max-height: 8vh;
            font-size: 0.8rem;
        }
    }
}
