.heading-primary-dark {
    font-size: 3rem;
    color: $color-font-dark;
    font-family: "Bold2", sans-serif;
}

.heading-primary-light {
    font-size: 3rem;
    color: $color-font-light;
    font-family: "Bold2", sans-serif;
}