@function calculate-width($width-type, $value) {
    @if $width-type == rem {
        @return #{"width: " + $value + "rem;"};
    } @else if $width-type == px {
        @return #{"width: " + $value + "px;"};
    } @else if $width-type == percentage {
        @if $value > 1 {
            @error "Percentage must be between 0 and 1";
        }
        @return #{"width: " + calc($value * 100%) + ";"};
    } @else {
        @error "Invalid width type";
    }
}

@function responsive-font-size($font-size) {
    $smallest: calc($font-size / 1.3);
    $largest: calc($font-size * 1.5);
    $viewport-width: 100vw;

    @return unquote("clamp(#{$smallest}rem, #{calc($font-size / 2)}vw + #{calc($font-size / 2)}rem, #{$largest}rem)");
}
@function responsive-icon-size($font-size) {
    $smallest: calc($font-size / 1.2);
    $largest: calc($font-size * 1.5);
    $viewport-width: 100vw;

    @return unquote("clamp(#{$smallest}rem, #{calc($font-size / 2)}vw + #{calc($font-size / 2)}rem, #{$largest}rem)");
}