$color-header: #b4d4ff;
// $color-header: #eee;
$color-header-darker: #86b6f6;

$color-background-dark: #333;

$color-grey-dark-2: #333;
$color-grey-dark-1: #555;
$color-grey-light-1: #999;
$color-grey-light-2: #bbb;
$color-grey-light-3: #ddd;

// $color-theme-dark: #0077b6;
// $color-theme-light: #90e0ef;
// $color-theme-back-light: #caf0f8;
$color-theme-dark: #622bd7;
$color-theme-light: #d2befd;
$color-theme-back-light: #e7dff9;

$color-font-dark: #333;
$color-font-light: #eee;