@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/functions";

@import "../base/animation";
@import "../base/utilities";
@import "../base/typography";



.profile {
    width: 100%;
    color: $color-font-dark;

    &__cont {
    }

    &__head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        h1{
            display: inline-block;
        }
        @include page-headers;
    }

    &__main {
        display: flex;
        padding: 1rem 0 0 0;

        @media (max-width: 1080px) {
            flex-direction: column;
        }
    }

    &__left {
        width: 30%;

        @media (max-width: 1080px) {
            width: 100%;
            display: flex;

            .profile-image {
                width: 30%;
                padding: 2vw;

                .full_length_image {
                    // width: 35%;
                }
            }

            .section-info {
                display: flex;
                justify-content: center;
                flex-direction: column;
                flex: 1;
                padding: 0 1rem;
            }
        }

        .profile-image {
            position: relative;
            padding: 1rem;
        }

        .section-info {
            .edit-profile {
                width: 100%;
                padding: 0.8rem 1rem;
                font-size: 0.9rem;
                font-weight: 650;
                margin: 0.7rem 0 0 0;
                background-color: $color-theme-back-light;
                border-radius: 1rem;

                &:hover {
                    background-color: $color-theme-light;
                    cursor: pointer;
                }

                &-cont {
                    width: 100%;
                }
            }

            .user-info {
                color: $color-grey-dark-3;
                font-size: responsive-font-size(1);

                @media (max-width: 1080px){
                    padding-top: 0;
                }

                &-name {
                    padding-top: 1rem;
                    color: $color-font-dark;
                    font-size: responsive-font-size(1.5);
                }

                // .user-info-cell{
                //     display: inline-block;
                //     border-radius: .5rem;
                //     padding: .3rem .8rem;
                //     border: 2px solid $color-grey-light-3;
                //     margin: .2rem .2rem .2rem 0;
                // }
            }
        }
    }

    &__right {
        flex: 1;
        padding: 1rem 1rem 1rem 1.5rem;

        @media (max-width: 1080px) {
            padding: 0;
        }
    }

    &__about {
        
        .details{
            padding-top: .5rem;
            font-size: responsive-font-size(.9);
            display: flex;
            flex-direction: column;

            .about_college_info{
                margin: 0 0 1rem 0;
                padding: .2rem 1rem;
                border-radius: 1rem;
                background-color: rgba($color-theme-back-light, .6);

                @media (max-width: 1080px){
                    margin: 1rem 0;
                }

                .info{

                    &--cell{
                        display: flex;
                        padding: .6rem 0;

                        &:not(:last-child){
                            border-bottom: 1px solid $color-theme-light;
                        }
                    }   

                    &--head{
                        // display: inline-block;
                        flex: 2;
                        // font-size: 1rem;
                        font-weight: 800;
                        font-stretch: 120%;
                        // color: $color-theme-dark;
                    }

                    &--value{
                        flex: 6;
                        font-weight: 500;
                        font-stretch: 110%;
                        color: $color-grey-dark-3;
                    }
                }
            }

            .about_text {
                font-weight: 400;
                white-space: pre-wrap;
            }
        }
    }

    &__posts{
        .fallback {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .profile {

        &__main{
            padding: 0 0 0 0;
        }
    }
}