@font-face {
    font-family: "Regular";
    src: url("/Anderson_Grotesk/Regular.otf") format("opentype");
}
@font-face {
    font-family: "Bold";
    src: url("/Anderson_Grotesk/Bold.otf") format("opentype");
}
@font-face {
    font-family: "Bold2";
    src: url("/Anderson_Grotesk/Bold2.otf") format("opentype");
}
@font-face {
    font-family: "Heavy";
    src: url("/Anderson_Grotesk/Heavy.otf") format("opentype");
}
@font-face {
    font-family: "Light";
    src: url("/Anderson_Grotesk/Light.otf") format("opentype");
}
@font-face {
    font-family: "Mona-sans";
    src: url("/Mona_Sans/Mona-Sans.woff2") format("opentype");
}

@font-face {
    font-family: 'Noto Color Emoji';
    src: url('/NotoColorEmoji-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}